extends template

block content
	mixin tableRow (info)
			tr
				each td, index in info
						td!= td
		table.table.table-striped.table-hover.table-bordered.align-center
			caption Top Donors
			thead
				tr
					th #
					th Name
					th Amount
			tbody
				script(type='text/javascript').
					var donors = !{JSON.stringify(donors)};
				- var index = 1;
				- for (var donor in donors) {
					+tableRow([index, donor, donors[donor]])
					- index++
				- }

