extends template

block content
	.subcontainer#quick_start
		h1 Quick Start

		ol
			li Join the <a href="http://steamcommunity.com/groups/GamersTradeTip" target="_blank">Steam Group</a>
			li Open up the group chat
			li Double click on <code style="color: rgb(31, 31, 31);">dogetippingbot</code>'s name
			li Send <code>+register</code> to the bot
			li Start Tipping!
		img.instructions(src="images/steamdogebot_register.gif", alt="Register with the bot")

	.subcontainer#commands
		mixin tableRow (info)
			tr
				each td, index in info
					if index == 0 || index == 2
						td: code!= td
					else
						td!= td
		table.table.table-striped.table-hover.table-bordered
			caption List of Commands
			thead
				tr
					th Command
					th Description
					th Example
			tbody
				+tableRow(["+register", "Register with the bot and receive your deposit address", "+register"])
				+tableRow(["+deposit", "Display your deposit address", "+deposit"])
				+tableRow(["+balance", "Check the amount of Gamerscoins in your tipping account", "+balance"])
				+tableRow(["+history", "Display your current balance and a list of your 10 most recent transactions", "+history"])
				+tableRow(["+withdraw", "Withdraw Gamerscoins to an address that you specify. The amount can also be \"all\" to send the entire balance of your account.", "+withdraw D7uWLJKtS5pypUDiHjRj8LUgn9oPHrzv7b 100 Gamerscoins"])
				+tableRow(["+donate", "Donate Gamerscoins to keep the bot up and running. Any help is greatly appreciated!", "+donate 100 Gamerscoins"])
				+tableRow(["+version", "Return the bot's current version", "+version"])
				+tableRow(["+help", "Display a list of available commands", "+help"])
				tr
					td: code +tip
					td Tip a user on Steam. If they are registered with the bot, you can simply tip with their Steam nickname. If they aren't, go to their profile and right click &gt; Copy Page URL. Then you can tip normally using that URL in place of their nickname. If <code style='padding:1px;'>+verify</code> is added to the end of the command, the tip will be announced publicly in the group chat.
						br
						| By default, when you tip to a Steam Community URL, that person will be saved as a favorite so that you can tip them using their nickname in the future. To <em>not</em> automatically tip that person when entering their nickname in the future, add <code style='padding:1px;'>+nosave</code> to the end of your tip.
						br
						| Users that have been tipped but aren't yet registered with the bot will receive a friend request. If they accept that friend request, the bot will send them a message and ask for either <code style='padding:1px;'>+accept</code> or <code style='padding:1px;'>+reject</code>. Accepting the tip means that they will be automatically registered with the bot and they will receive the tip. Rejecting the tip will place that user on a blacklist so that they are never bothered again. If a user does not act on a tip within 6 hours, the tip will expire and will be refunded to the sender.
					td
						p.description Tip RazeTheRoof if he has already registered with the bot. The bot will verify the tip by sending a message to the group chat.
						code +tip RazeTheRoof 100 Gamerscoins +verify
						br
						p.description Tip RazeTheRoof and save his nickname so that you can tip to RazeTheRoof in the future without having to enter his URL.
						code +tip http://steamcommunity.com/id/razed 100 Gamerscoins +verify
						br
						p.description Tip RazeTheRoof but don't save his nickname. Tipping to "RazeTheRoof" in the future will fail.
						code +tip http://steamcommunity.com/id/razed 100 Gamerscoins +nosave
				+tableRow(["+accept", "Accept a tip that someone sent you if you are not registered with the bot yet", "+accept"])
				+tableRow(["+reject", "Reject a tip that someone sent you if you are not registered with the bot yet. That person will be refunded and you will be left alone by the bot.", "+reject"])
		table.table.table-striped.table-hover.table-bordered
			caption List of Group Chat Commands
			thead
				tr
					th Command
					th Description
					th Example
			tbody
				+tableRow(["+stats", "Display a list of tipping statistics including number of tips and users as well as the Gamerscoins tip volume", "+stats"])
				+tableRow(["+price", "Calculate and show the current price of the Gamerscoins amount entered", "<span style='width:136px;display:inline-block;'>+price 1,000 Gamerscoins</span>"])
				+tableRow(["+me", "Display your Steam nickname and your Steam ID", "+me"])

