extends template

block append resources
	script(src="/js/Chart.min.js")
	script.
		function legend(parent, data) {
			parent.className = "legend";
			var datas = data.hasOwnProperty("datasets") ? data.datasets : data;

			// remove possible children of the parent
			while(parent.hasChildNodes()) {
				parent.removeChild(parent.lastChild);
			}

			datas.forEach(function(d) {
				var title = document.createElement("span");
				title.className = "title";
				title.style.borderColor = d.hasOwnProperty("strokeColor") ? d.strokeColor : d.color;
				title.style.borderStyle = "solid";
				parent.appendChild(title);

				var text = document.createTextNode(d.title);
				title.appendChild(text);
			});
		}
		$(document).ready(function() {
			var ctx1 = $("canvas").get(0).getContext("2d");
			var ctx2 = $("canvas").get(1).getContext("2d");

			$.get("/stats/data").done(function(dataFromServer) {
				var data = {
					labels: ["14 Days Ago", "13 Days Ago", "12 Days Ago", "11 Days Ago", "10 Days Ago", "9 Days Ago", "8 Days Ago", "7 Days Ago", "6 Days Ago", "5 Days Ago", "4 Days Ago", "3 Days Ago", "2 Days Ago", "1 Day Ago", "Today"],
					datasets: [
						{
							fillColor: "#333",
							strokeColor: "#202020",
							pointColor: "#eee",
							pointStrokeColor: "#202020",
							data : dataFromServer.usersEachDay
						}
					]
				};

				new Chart(ctx1).Line(data, {scaleFontFamily: "Open Sans"});
				new Chart(ctx2).Line(data, {scaleFontFamily: "Open Sans"});

				var tips = dataFromServer.tips;
				/*var tips = {
					"0-10": 4,
					"10-100": 13,
					"100-1000": 40,
					">1000": 2,
					"total": 59
				}*/
				var pieData = [
					{
						value: (tips["0-10"] / tips.total) * 100,
						color: "#FF4136",
						title: "0 - 10 Gamerscoins (" + tips["0-10"] + ")"
					},
					{
						value: (tips["10-100"] / tips.total) * 100,
						color: "#FDB45C",
						title: "10 - 100 Gamerscoins (" + tips["10-100"] + ")"
					},
					{
						value: (tips["100-1000"] / tips.total) * 100,
						color: "#3D9970",
						title: "100 - 1,000 Gamerscoins (" + tips["100-1000"] + ")"
					},
					{
						value: (tips[">1000"] / tips.total) * 100,
						color: "#0074D9",
						title: ">1,000 Gamerscoins (" + tips[">1000"] + ")"
					}
				];
				new Chart(ctx2).Pie(pieData, {animationEasing: "easeOutQuart", segmentStrokeWidth: 1, animationSteps: 60});
				legend($("#tipLegend").get(0), pieData);
			});
		});
block content
	h1 Registered Users
	canvas(width="1000", height="400px")
	h1 Tip Amounts&nbsp;
		small(style="top: -5px;") (past 14 days)
	canvas#pie(width="400", height="400px", style="float: left;")
	#tipLegend
	.clear_both